body{
  background: white;
  color:black;

  }
*{
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
  }


 /* TOP MENU ****************************************/ 
.top-menu {
  display: grid;
  grid-template:
  "logo top-menu-a top-menu-b" auto/
   230px 480px 520px;
  width: 1230px;

  padding-top:2ch;
  padding-bottom:1ch;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  }
.top-menu-a{
  grid-area: top-menu-a;
  }

.top-menu li{
  display: inline-block;
  font-weight: bold;
  padding: 1ch;

}
.logo{
  grid-area: logo;
  width: 160px;
}
.sign-up-menu{
  border: 1px solid #518df5;
  color:#518df5;
  padding:1ch;
  border-radius: 4px;
}


/* HERO SECTION ***************************************/
.hero-image{
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/Hero-Image.jpg");*/
  background-image: url("assets/Hero-Image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 494px;
  align-items:center;
}
.hero-grid{
  display: grid;
  grid-template: 
  ". ." 7ch
  "hero-text hero-sign-up" 1fr /
  1fr 1fr;
  color:black;
  margin-top:auto;
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
}
.hero-text{
  grid-area: hero-text;
 }
.hero-sign-up{
  grid-area: hero-sign-up;
  background-color: white;
  border-radius: 5px;
  width:458px;
  height: 367px;
  padding-top: 4ch;
  margin-left: 4ch;
}
.hero-text h1{
  font-size: 4rem;
  color: white;
  text-align: left;
}
.hero-text p{
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
  color: lightgrey;
  line-height: 26pt;
}
.black-text{
  color: black;
  font-size: 1.6rem;
  font-weight:bold;
}
.blue-text{
  color: #2672ff;
  font-size:1.6rem;
  display:block;
  font-weight:bold;
  padding-top: 0.8ch;
}
.hero-sign-up input{
  width:60ch;
  height:5ch;
  margin:1ch;
  border-radius: 4px;
  border: 1px solid rgb(233, 232, 232);

}
.hero-sign-up input::placeholder{
  text-align: left;
  margin-left: 1ch;
  font-size: 1.05rem;
}
.hero-sign-up .white-button{
  width:60ch;
  height:5ch;
  margin:1ch;
  border-radius: 4px;
  border: 1px solid rgb(233, 232, 232);
  background-color: white;
  box-shadow: 1px 1px 2px rgb(218, 218, 218);
  font-weight: bold;
}
.hero-sign-up .blue-button{
  width:60ch;
  height:5ch;
  margin:1ch;
  border: 1px solid #5993ff;
  background-color:#5993ff;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
.terms{
  padding-top:0.5rem;
  font-size: 0.69rem;
  font-weight: bold;
}
.TOC{
  font-weight: bold;
  color:#2672ff;
  text-decoration: underline;
  font-size: 0.69rem;
}
.google-icon{
  width: 20px;
  display: inline-grid;
  margin-right: 15ch;
  margin-left: -18ch;
  margin-bottom: -5px;
}
.google-button-text{
  margin-bottom: 10px;
  padding-bottom: 10px;

}

/* RESPONSIVENESS */
@media screen and (max-width: 1110px) {
  .hero-image{
        height: 750px;
  }
  .hero-grid{
    display: grid;
    grid-template: 
    "hero-text" auto 
    "hero-sign-up" auto/
    1fr;
    margin-top:auto;
    width: 800px;
  }
  .hero-sign-up{
  margin-left: auto;
  margin-right: auto;
  }
  .hero-text{
    height:350px;
  }
}

@media screen and (max-width: 784px) {
  .hero-image{
        height: auto;
  }
  .hero-grid{
    display: grid;
    grid-template: 
    "hero-text" auto
    "hero-sign-up" auto/
    auto;
    margin-top:auto;
    width: auto;
  }
  .hero-sign-up{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom:5ch;
  }
  .hero-text{
    height:auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}


/* PARTNER SECTION ***************************************/

.partner-section{
  display: grid;
  grid-template: 
  "partner-heading" auto 
  "partner-links" auto
  "testimonies" auto/
  auto;
  background-color: #ececf5;
}
.partner-section h1{
  grid-area: partner-heading;
  font-size: 1rem;
  margin-top:3rem;
  margin-bottom:4ch;
  color: #6d7792;
}
.partner-links{
  grid-area: partner-links;
}
.partner-links li{
  display: inline-block;
}
.partner-links li img{
  height: 90px;
}
.partner-links li .splunk-logo{
  height: 60px;
  margin-top: -2ch;
  padding-bottom: 2.5ch;
}
.partner-section p{
  grid-area: testimonies;
  margin-top: 2ch;
  margin-bottom: 6ch;
  font-weight: bold;
  color: #2672ff;
}


/* DEPLOY SECTION **************************************/

.deploy{
  display: grid;
  grid-template:
  "title-heading title-heading title-heading" auto
  "introduction introduction introduction" auto
  "side-menu cluster compute" auto
  "side-menu one-click availability" auto/
  auto auto auto;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 3ch
}
.side-menu{
  grid-area: side-menu;
  color: rgb(101, 111, 134);
  font-weight: bold;
  font-size: 1.5rem;
}
.side-menu li{
  padding-bottom:1.5rem;
  text-align: left;
  list-style: none;
  margin-left: 6ch;
  margin-right: 3ch;
  border-left: 2px solid lightgrey;
  padding-left: 2ch;
}
.side-menu li .blue{
  border-left: 2px solid #2672ff;
}
.deploy h1{
  grid-area: title-heading;
  margin-top: 6ch;
  margin-bottom: 1ch;
  font-size: 2.1rem;
}
.deploy p{
  grid-area: introduction;
  color: rgb(101, 111, 134);
  font-size: 1.5rem;
  margin-bottom: 4ch;
}
.cluster{
  grid-area: cluster;
}
.compute{
  grid-area: compute;
}
.one-click{
  grid-area: one-click;
}
.availability{
  grid-area: availability;
}
.side-menu li a:link{
  text-decoration: none;
  color: rgb(101, 111, 134);
}
.side-menu li a:visited{
  text-decoration: none;
  color: rgb(101, 111, 134);
}
.deploy .category{
  justify-content: left;
  justify-items: left;
  text-align: left;
  align-content: left;
  align-items: left;
  text-justify: left;
}
.deploy .category h2{
  font-size: 1.2rem;
  margin-top: 0.5ch;
  margin-bottom: 0.5ch;
  justify-content: left;
  justify-items: left;
  text-align: left;
  align-content: left;
  align-items: left;
  text-justify: left;
}
.deploy .category p{
  font-size: 1.1rem;
  padding-right: 5ch;
  text-align: justify;
  justify-content: left;
  justify-items: left;
  text-align: left;
  align-content: left;
  align-items: left;
  text-justify: left;
}

/* RESPONSIVENESS */
@media screen and (max-width: 630px) {
  .side-menu{
    display: none;
  }
    
}